html
    head
        title pira
        link(href="css/app.css",rel="stylesheet",type="text/css")

    body
        h1 Sava





        script(src"js/vendor/jquery-3.1.0.min.js")
        script(src="js/main.js")